*{
	box-sizing: border-box;
}

p{
	margin:0;
}

html{
	font-size: 18px;
}


body{
	margin:0;
	background-color: rgb(238, 236, 233);
}
/*Language button*/

#language-button {
	background-color: #5bd5e7;
	padding: 4px;
	text-decoration:none;
	display:inline-block;
	margin-top: 40px;
	margin-left:40px;
	
}

/* Profile picture*/
#profilepic{
	border-radius:50%;
	width:200px;

}

.pic-wrapper{
	text-align: center;
}
/*Centering*/
.big-wrapper{

	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.heading {
	
	font-weight: 300;
}
/* Skills section design*/

#med{
	background-color: #99ddff;
	margin:1%;
	width:90%;
	
}

#html{
	background-color: #ffd480;
	margin:1%;
	width:60%;
}

#css{
	background-color: palegreen;
	margin:1%;
	width:40%;
}

#js{
	background-color: pink;
	margin:1%;
	width:30%;
}
