#flex-wrapper {
	display: flex;
	align-items: center;
}
.heading {
	
	font-weight: 300;
}

#profilepic{
	margin-right: 10%;
	width:250px;
	//float:left;
}

body{
	padding: 0 10%;
	background-color: rgb(238, 236, 233);
}
#divwords{
	//float:right;

}
#skills{
	

	padding:10px;
	width: 100%;
}

#med{
	background-color: #99ddff;
	margin:1%;
	width:90%;
	
}

#html{
	background-color: #ffd480;
	margin:1%;
	width:60%;
}

#css{
	background-color: palegreen;
	margin:1%;
	width:40%;
}

#js{
	background-color: pink;
	margin:1%;
	width:20%;
}
